.container_canva {
  margin: auto;
  width: 100%;
  height: 80%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.progress {
  margin: auto;
  width: 150px;
  height: 4px;
  background-color: rgb(167, 202, 237);
  border-radius: 5%;
}
.indicator {
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  font-weight: bold;
}
.bar {
  width: 1%;
  height: 4px;
  background-color: #1976d2;
}
.container {
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgb(232, 253, 253);
}
